/* animation for header icon & text */

header img {animation: fly 8s ease-in-out 0s 1; }
	@keyframes fly {
	from {
		width: 1%;
		padding: 10em 0 0 0; }
	to {
		width: 10%;
		padding: 1em 0 0 3em; }
	}

header h2 {animation: slide1 8s ease-in-out 0s 1; }
	@keyframes slide1 {
		from { padding-left: 0; }
		to { padding-left: 10em; }	
	}

header h3 {animation: slide2 7s ease-in-out 0s 1; }
	@keyframes slide2 {
		from { padding-left: 0; }
		to { padding-left: 26em; }	
	}
	
/* style to stop animation on smaller screens */
@media screen and (max-width: 959px) {
	header h3 .animation {animation: none !important;}
	
	header h3 {animation: slide2 7s ease-in-out 0s 1;}
	@keyframes slide2 {
		from { padding-left: 0; }
		to { padding-left: 16em; }	
	}
}

@media screen and (max-width: 800px) {
    .animation {
        animation: none !important;
        visibility: visible !important;
    }
}