/* styles for formatting sub pages for better spacing */

/* styles for section images for subpages */


#image3 {
	width: 25%;	
}


/* styles for spacing content and images better */



#imperial {
	margin: 3.5em 0;
	padding-bottom: 2em;
}

#rikugien {
	margin: 5em 0em;
}

