/* styles for the form subpage */

h1 {
	text-align: center;
	font-size: 1.5em;
}

form {
	padding: 1em;
	max-width: 95%;
	text-align: center;
}

div {
	margin-top: 1em;
}

form label {
	font-weight: bold;
}

input {
	width: 20em;
	font-weight: normal;
	border: 2px solid black;
	margin-left: 1em;
}

/* styles to adjust spacing of input boxes */

#first_name_space {
	margin-left: 5.40em;
}

#email_address1_space {
	margin-left: 3.90em;
}

/* style for submit button */

#submit_form {
	width: 12em;
	font-weight: bold;
	margin-top: 1.5em;
}


/* styles for invalid input */

input:required:invalid {
	border: 2px solid #f20000;
}